<!-- <suite name="Same TestCases on Different Browser" thread-count="2" verbose="5" 
	parallel="tests"> <test name="Test Run on Chrome Browser"> <parameter name="browser" 
	value="chrome" /> <parameter name="platform" value="Windows" /> <parameter 
	name="URL" value="https://accounts.google.com/" /> <classes> <class name="seleniumGrid.GridExampleTest" 
	/> </classes> </test> <test name="Test Run on Firefox browser"> <parameter 
	name="browser" value="Firefox" /> <parameter name="platform" value="Windows" 
	/> <parameter name="URL" value="https://accounts.google.com/" /> <classes> 
	<class name="seleniumGrid.GridExampleTest" /> </classes> </test> </suite> -->

<!-- <suite name="Parallel test suite" parallel="classes" thread-count="2"> 
	<test name="Regression 1"> <parameter name="myBrowser" value="firefox" /> 
	<classes> <class name="seleniumGrid.TestParallel" /> <class name="seleniumGrid.TestParallel" 
	/> </classes> </test> <test name="Regression 2"> <parameter name="myBrowser" 
	value="chrome" /> <classes> <class name="seleniumGrid.TestParallel" /> <class 
	name="seleniumGrid.TestParallel" /> </classes> </test> </suite> -->


<suite name="My Test Suite Using grid" verbose="2" parallel="tests"
	thread-count="15">
	<test name="Selenium Grid Test">
		<classes>
			<class name="seleniumGrid.FillingForm" />
			<class name="seleniumGrid.Calc" />
		</classes>
	</test>
</suite>